[Unit]
Description=Convector OPCUA -> postgrest.
After=multi-user.target

[Service]
User=potok
Group=potok
Type=simple
Restart=always
ExecStart=/usr/bin/python3 /home/potok/convertert_opcua_postgres-main/converter/converter.py

[Install]
WantedBy=multi-user.target